<%= javascript_include_tag "board/index" %>
<div id="fb-root"></div>
<div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1"></div>
<div>
  <div id=sidebar class=no_select></div>
  <div id=sidebar2 class=no_select></div>
  <div id=content></div>
</div>
